*{
    margin: 0;
    height: 0;
    box-sizing: border-box;
}

html,body
{
    height:100%;
    width:100%;
    overflow:hidden;
    user-select:none;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgb(138, 62, 0),rgb(208, 87, 0));
}

#screen
{
    opacity: 0.8;
    height:min(1280px,100%);
    touch-action: none;
    width:310px;
    background: transparent;
}